/* Page Styles */
body { font-size: 14px; font-family: Helvetica, Arial, sans-serif; line-height: 1.2;}

/* Setup for Google Maps API */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
/* CSS rules for what to show based on login state */
body.connected #login { display: none; }
body.connected #logout { display: block; }
body.connected #go {background-color: rgb(255,130,119); border-color: rgb(157,62,56);}
body.not_connected #login { display: block; }
body.not_connected #logout { display: none; }
body.not_connected #go { display: none; }
body.not_connected #user-info { display: none; }
body.default #login { display: block; }
body.default #logout { display: none; }
body.default #go { display: none; }

/* General Styles */
.header { 
	padding: 10px; 
	z-index:2; 
	background: #fff;
	width: 100%;
	box-sizing: border-box; 
	height: 80px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
.login-logout { 
	float: right; 
}
#user-info { 
	float: left; 
	width: 240px; 
}
	#user-info span { 
		color: #999; 
		font-size: 12px; 
	}
	#user-info img { 
		vertical-align: top; 
		float:left; 
		border: 1px solid #CECECE; 
		padding: 2px; 
		margin-right: 5px; 
	}
	.name-city { 
		display: inline-block; 
		float: left;
	}
#go {
	background-color: rgb(255,130,119); 
	border-color: rgb(157,62,56);
}